In [2]:
from sqlalchemy import create_engine

# create engine connecting to lego database

connection_method = "mysql+pymysql"
db_user = "root"
db_password = "mysql"
db_host = "127.0.0.1"
db_port = 3306
db_name = "lego"

engine = create_engine(f"{connection_method}://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}", future=True)

In [ ]:
import pandas as pd

# read colors table using pandas into dataframe

with engine.connect() as conn:
    colors_df = pd.read_sql('colors', conn)
    print(colors_df.head())
    print(colors_df.tail())
    print(colors_df.shape)

In [ ]:
from sqlalchemy import text

# read SQL query to pull only blue legos using pandas into dataframe

with engine.connect() as conn:
    blue_df = pd.read_sql(text("SELECT name, rgb, id FROM colors WHERE name LIKE '%blue%'"), conn)
    print(blue_df.head())
    print(blue_df.tail())
    print(blue_df.shape)

In [21]:
from sqlalchemy import text

# just a fun extra, a dataframe that shows the top lego themes the year I was born!

ninetyfour_theme = '''
SELECT year, COUNT(theme_id) as total_in_theme, theme_name 
FROM sets 
WHERE year = 1994 
GROUP BY theme_name 
ORDER BY total_in_theme DESC;
'''

with engine.connect() as conn:
    ninetyfour_df = pd.read_sql(text(ninetyfour_theme), conn)
    print(ninetyfour_df.head(3))

   year  total_in_theme   theme_name
0  1994              30      Technic
1  1994              11   Recreation
2  1994               8  Basic Model